include LICENSE
include requirements.txt
include README.md

include solvency2sf\corr_bscr.csv
include solvency2sf\corr_h_uw.csv
include solvency2sf\corr_nl_uw.csv
include solvency2sf\mcr\factors_mcr.csv
include solvency2sf\scr_nl\cat\manmade\corr_liab.csv
include solvency2sf\scr_nl\cat\manmade\factors_liab.csv
include solvency2sf\scr_nl\cat\manmade\other_nl.csv
include solvency2sf\scr_nl\cat\natcat_eur\factors.csv
include solvency2sf\scr_nl\cat\natcat_eur\scenarios.csv
include solvency2sf\scr_nl\cat\natcat_eur\simplification.csv
include solvency2sf\scr_nl\cat\natcat_eur\specified_loss.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr\earthquake.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr\flood.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr\hail.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr\subsidence.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr\windstorm.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_AT.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_BE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_BG.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_CH.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_CY.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_CZ.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_DE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_FR.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_GR.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_HR.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_HU.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_IT.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_PT.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_RO.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_SI.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\earthquake_SK.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_AT.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_BE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_BG.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_CH.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_CZ.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_DE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_FR.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_HU.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_IT.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_PL.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_RO.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_SI.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_SK.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\flood_UK.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_AT.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_BE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_CH.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_CZ.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_DE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_ES.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_FR.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_IT.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_NL.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\hail_SI.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\subsidence_FR.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_AT.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_BE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_CH.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_CZ.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_DE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_DK.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_ES.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_FI.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_FR.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_GB.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_HU.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_IE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_NL.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_NO.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_PL.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_SE.csv
include solvency2sf\scr_nl\cat\natcat_eur\corr_cresta\windstorm_SI.csv
include solvency2sf\scr_nl\cat\natcat_eur\risk_weights\earthquake.csv
include solvency2sf\scr_nl\cat\natcat_eur\risk_weights\flood.csv
include solvency2sf\scr_nl\cat\natcat_eur\risk_weights\hail.csv
include solvency2sf\scr_nl\cat\natcat_eur\risk_weights\subsidence.csv
include solvency2sf\scr_nl\cat\natcat_eur\risk_weights\windstorm.csv
include solvency2sf\scr_nl\premres\corr_h.csv
include solvency2sf\scr_nl\premres\corr_nl.csv
include solvency2sf\scr_nl\premres\factors.csv
